
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


body{
    background-image: linear-gradient(150deg,rgb(205, 118, 255),rgba(56, 129, 238, .7), rgb(94, 181, 240));
    font-family: 'Quicksand', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    flex-wrap: wrap;

}

.login-form-wrapper {
    box-sizing: border-box;
background-color: rgb(255, 255, 255);
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-right: 1px solid rgb(211, 211, 211);
width: 400px;
max-width: 600px;
padding: 50px 50px 0;
height: 650px;
box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
text-align: center;
}

.social-login {
    display: flex;
    flex-direction: column;
}
.social-login a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding:10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
}

img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.facebook {
    background-color: #3b5998;
    color: #fff;
}
.google {
    background-color: #ee6b5a;
    color: #fff;
}
.github {
    background-color: #ffffff;
    color: #363636;
}

.login-form{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
    padding: 10px;
    height: 650px;
    max-width: 600px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}
input[type=text],[type=email],[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input:invalid {
    border: 1px solid #ff0202;
}

  button {
    width: 100%;
    background-image: linear-gradient(150deg,rgb(205, 118, 255),rgba(56, 129, 238, .7), rgb(94, 181, 240));
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 0;
  }
  
  button:hover {
    background-image: linear-gradient(150deg,rgb(191, 93, 248),rgba(41, 120, 240, 0.7), rgb(72, 171, 236));
  }
  
.caption {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.termsandcondition a {
    color: rgb(14, 98, 209);
    font-weight: bold;
}




@media only screen and (max-width:600px){
    .login-form-wrapper, .login-form{
        border-radius: 0;
        margin-top: 0;
        width: auto;

    }
    .login-form-wrapper {
        order: 2;
        margin-bottom: 2px;
    }
    .login-form {
        order: 1;
    }

}

@media only screen and (max-width:1024px){
    .login-form-wrapper, .login-form{
        border-radius: 0;
        margin-top: 0;
        width: 600px;
    }

    .login-form-wrapper {
        order: 2;
        height: 300px;
        padding-top: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .login-form {
        order: 1;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
}