
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
    background-image: linear-gradient(150deg,rgb(205, 118, 255),rgba(56, 129, 238, .7), rgb(94, 181, 240));
    font-family: 'Quicksand', sans-serif;
}
a {
    text-decoration: none;

}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;  
    flex-wrap: wrap;

}

.login-form-wrapper {
    box-sizing: border-box;
background-color: rgb(255, 255, 255);
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-right: 1px solid rgb(211, 211, 211);
width: 400px;
max-width: 500px;
padding: 10px;
height: 600px;
margin-top: 100px;
box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.login-form{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
    padding: 10px;
    height: 600px;
    max-width: 600px;
    margin-top: 100px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}
input[type=text],[type=email],[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input:invalid {
    border: 1px solid #ff0202;
}

  button {
    width: 100%;
    background-image: linear-gradient(150deg,rgb(205, 118, 255),rgba(56, 129, 238, .7), rgb(94, 181, 240));
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  
  button:hover {
    background-image: linear-gradient(150deg,rgb(191, 93, 248),rgba(41, 120, 240, 0.7), rgb(72, 171, 236));
  }
  
.caption {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}



@media only screen and (max-width:600px){
    .login-form-wrapper, .login-form{
        border-radius: 0;
        margin-top: 0;
        height: auto;
    }
}

@media only screen and (max-width:768px){
    .login-form-wrapper, .login-form{
        border-radius: 0;
        margin-top: 0;
        height: auto;
    }
}